localhost:80,
*:80 {
    root * /var/www/html
    encode gzip
    php_fastcgi php:9000
    # Prevent malicious PHP uploads from running
    @uploads {
        path_regexp path /uploads\/(.*)\.php
    }
    rewrite @uploads /
    file_server browse
}

mailhog.localhost:80 {
	reverse_proxy mailhog:8025
}
