localhost:80 {
    root /var/www/html
    gzip
    fastcgi / php:9000 php
    # Prevent malicious PHP uploads from running
    rewrite {
        r /uploads\/(.*)\.php
        to /
    }
    rewrite {
        if {path} not_match ^\/wp-admin
        to {path} {path}/ /index.php?{query}
    }
}

mailhog.localhost:80 {
	gzip
	proxy / mailhog:8025 {
		transparent
		websocket
	}
}

phpmyadmin.localhost:80 {
	gzip
	proxy / phpmyadmin:80 {
		transparent
	}
}